<%- include('../partials/header') %>

<h2>Choose your Seat</h2>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <label>Seat number:</label>
  <input type='text' name="seat" required pattern="[A-F][1-9]\d?">
  <br>
  <label>Price:</label>
  <input type="number" name="price">
  <!-- <label>Flight:</label>
  <input type="objectId" name="Flight"> -->
  <br>

  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>