body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

a {
  color: #00B7FF;
  padding: 3px;
  /* background-color: white; */
  font-size: 13px;
}

nav > img {
  width: 80px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav {
  background-color: gray;
  margin: 0 auto;
}

h2 {
  font-size: xx-large;
  letter-spacing: 3px;
}

th, td, form {
  border: solid thin black;
  padding: 10px 15px 10px;
}

th{
  font-size: 15px;
}

.tableHeadings {
  text-align: center;
}

.fullTable {
  text-align: center;
  border: solid thin blue;
  background-color: papayawhip;
}

label{
  display: grid;
  text-align: center;
  align-content: center;
}

.button {
  display: flex;
  align-content: center;
}


#ticketBtn {
  border: solid black 2px;
  padding: 5px;
  
}

#addDestBtn {
  background-color: transparent;
  color: #00B7FF;
  font-size: 13px;
  border:solid black 2px;
}

.show-page {
  display: flex;
  padding: 8px;
  border:solid black 2px;
}
.showItem {
  padding: 4px 4px;

}

#add-ticket-form{
  display: grid;
  font-size: 13px;
}
